---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: jsonservers.example.com
spec:
  group: example.com
  names:
    kind: JsonServer
    listKind: JsonServerList
    plural: jsonservers
    singular: jsonserver
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.replicas
      name: Replicas
      type: integer
    - jsonPath: .status.state
      name: State
      type: string
    - jsonPath: .status.message
      name: Message
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        description: JsonServer is the Schema for the jsonservers API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
            type: string
          metadata:
            type: object
          spec:
            description: JsonServerSpec defines the desired state of JsonServer
            properties:
              jsonConfig:
                description: |-
                  JsonConfig is the JSON configuration for the json-server
                  This will be mounted as /data/db.json in the container
                type: string
              replicas:
                default: 1
                description: Replicas is the number of json-server instances to run
                format: int32
                minimum: 1
                type: integer
            required:
            - jsonConfig
            type: object
          status:
            description: JsonServerStatus defines the observed state of JsonServer
            properties:
              message:
                description: Message provides additional information about the current
                  state
                type: string
              replicas:
                description: Replicas is the current number of replicas
                format: int32
                type: integer
              state:
                description: |-
                  State indicates the current state of the JsonServer
                  Can be "Synced" or "Error"
                enum:
                - Synced
                - Error
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      scale:
        specReplicasPath: .spec.replicas
        statusReplicasPath: .status.replicas
      status: {}
